/* Border Color Start*/
.border-white {
    --tw-border-opacity: 1;
    border-color: rgba(255, 255, 255, var(--tw-border-opacity));
}

/* Gray Color */
.border-gray-200 {
    --tw-border-opacity: 1;
    border-color: rgba(229, 231, 235, var(--tw-border-opacity));
}

.border-gray-300 {
    --tw-border-opacity: 1;
    border-color: rgba(209, 213, 219, var(--tw-border-opacity));
}

/* Blue Color */
.border-blue-200 {
    --tw-border-opacity: 1;
    border-color: rgba(191, 219, 254, var(--tw-border-opacity));
}

.border-blue-500 {
    --tw-border-opacity: 1;
    border-color: rgba(59, 130, 246, var(--tw-border-opacity));
}

/* Black Color */
.border-black{
    --tw-border-opacity: 1;
    border-color: rgba(0, 0, 0, var(--tw-border-opacity));
}
/* Border Color End*/


/* Border Radius Start */
.rounded {
    border-radius: 0.25rem;
}

.rounded-md {
    border-radius: 0.375rem;
}

.rounded-lg {
    border-radius: 0.5rem;
}

.rounded-2lg {
    border-radius: 0.625rem;
}

.rounded-xl {
    border-radius: 0.75rem;
}

.rounded-2xl {
    border-radius: 1rem;
}

.rounded-3xl {
    border-radius: 1.25rem;
}

.rounded-full {
    border-radius: 9999px;
}

.rounded-left-lg{
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.rounded-right-3xl{
    border-top-right-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
}

/* Border Radius End */

/* Border Width Start */
.border {
    border-width: 1px;
}

.border-2 {
    border-width: 2px;
}

.border-4 {
    border-width: 4px;
}


/* Border Right */
.border-r-0 {
    border-right-width: 0px;
}

.border-r {
    border-right-width: 1px;
}

/* Border Left*/
.border-l-0 {
    border-left-width: 0px;
}

.border-l-1 {
    border-left-width: 2px;
}

.border-l-4 {
    border-left-width: 1px;
}

/* Border Botom */
.border-b-1 {
    border-bottom-width: 3px;
}

.border-b-4 {
    border-bottom-width: 4px;
}

.border-b {
    border-bottom-width: 1px;
}


/* Border Y-Axis */
.border-y-1{
    border-top-width: 1px;
    border-bottom-width: 1px;
}

.border-y-2{
    border-top-width: 2px;
    border-bottom-width: 2px;
}

/* Border Width End */

/* Border Style */
.border-dot{
    border-style: dotted;
}
.border-dash{
    border-style: dashed;
}
.border-solid{
    border-style: solid;
}
.border-double{
    border-style: double;
}
.border-groove{
    border-style: groove;
}
.border-ridge{
    border-style: ridge;
}
.border-inset{
    border-style: inset;
}
.border-outset{
    border-style: outset;
}
