/* Display Start */
.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.table {
    display: table;
}

.grid {
    display: grid;
}

.hidden {
    display: none;
}

.group:hover .group-hover\:inline-block {
    display: inline-block;
}
/* Display End */

/* Display with Event Listener */
.show\:fixed{
    display: fixed;
}


/* Opacity */
.opacity-0{
    opacity: 0;
}

.opacity-10{
    opacity: 0.1;
}

.opacity-50{
    opacity: 0.5;
}

.opacity-full{
    opacity: 1;
}