/* Display Start */
.block {
display: block;
}

.inline-block {
display: inline-block;
}

.flex {
display: flex;
}

.inline-flex {
display: inline-flex;
}

.table {
display: table;
}

.grid {
display: grid;
}

.hidden {
display: none;
}

.group:hover .group-hover\:inline-block {
display: inline-block;
}


/* Display End */