/* Hover Background Start */
.hover\:bg-gray-100:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
}

.hover\:bg-gray-200:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
}

.hover\:bg-gray-300:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(209, 213, 219, var(--tw-bg-opacity));
}

.hover\:bg-gray-400:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(176, 176, 176, var(--tw-bg-opacity));
}

.hover\:bg-blue-500:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(59, 130, 246, var(--tw-bg-opacity));
}

.hover\:bg-blue-800:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(4, 143, 152, var(--tw-bg-opacity));
}

.hover\:bg-main-gray:hover{
    --tw-bg-opacity: 1;
    background-color: rgba(217, 217, 217, var(--tw-bg-opacity));
}
/* Hover Background End */


/* Hover Link Start */
.hover\:underline:hover {
    text-decoration: underline;
    cursor: pointer;
}
/* Hover Link End */

/* Hover Text Start */
.hover\:text-blue-100:hover {
    --tw-bg-opacity: 1;
    color: rgba(135, 214, 239, var(--tw-bg-opacity));
}

.hover\:text-blue-500:hover {
    --tw-bg-opacity: 1;
    color: rgba(59, 130, 246, var(--tw-bg-opacity));
}
/* Hover Text End */