.text-xs {
font-size: 0.75rem;
line-height: 1rem;
}

.text-sm {
font-size: 0.875rem;
line-height: 1.25rem;
}

.text-lg {
font-size: 1.125rem;
line-height: 1.75rem;
}

.text-xl {
font-size: 1.25rem;
line-height: 1.75rem;
}

.text-2xl {
font-size: 1.5rem;
line-height: 2rem;
}

.text-3xl {
font-size: 1.875rem;
line-height: 2.25rem;
}

.text-5xl {
font-size: 3rem;
line-height: 1;
}


.text-left {
text-align: left;
}

.text-center {
text-align: center;
}

.text-right{
text-align: right;
}

.text-justify {
text-align: justify;
}


/* Text Color Start */
.text-black {
--tw-text-opacity: 1;
color: rgba(0, 0, 0, var(--tw-text-opacity));
}

.text-white {
--tw-text-opacity: 1;
color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.text-gray-500 {
--tw-text-opacity: 1;
color: rgba(107, 114, 128, var(--tw-text-opacity));
}

.text-gray-600 {
--tw-text-opacity: 1;
color: rgba(75, 85, 99, var(--tw-text-opacity));
}

.text-red-500 {
--tw-text-opacity: 1;
color: rgba(239, 68, 68, var(--tw-text-opacity));
}

.text-red-800 {
--tw-text-opacity: 1;
color: rgba(153, 27, 27, var(--tw-text-opacity));
}

.text-yellow-500 {
--tw-text-opacity: 1;
color: rgba(245, 158, 11, var(--tw-text-opacity));
}

.text-green-500 {
--tw-text-opacity: 1;
color: rgba(16, 185, 129, var(--tw-text-opacity));
}

.text-blue-100{
--tw-bg-opacity: 1;
color: rgba(135, 214, 239, var(--tw-bg-opacity));
}


.text-blue-500 {
--tw-text-opacity: 1;
color: rgba(0, 41, 255, var(--tw-text-opacity));
}

.text-purple-500 {
--tw-text-opacity: 1;
color: rgba(139, 92, 246, var(--tw-text-opacity));
}
/* Text Color End */